<p>binding-class-component works!</p>
<h1 [ngClass]="success">Hello Angular</h1>
<h1 [ngClass]="error">Hello Angular</h1>
<h1 [ngClass]="primary">Hello Angular</h1>
<h1 [ngClass]="normal">Hello Angular</h1>
<h1 [ngClass]="multiClass">Hello Angular</h1>

<h2 class="{{success}}">Hello Angular</h2>
<h2 class="{{error}}">Hello Angular</h2>
<h2 class="{{primary}}">Hello Angular</h2>
<h2 class="{{normal}}">Hello Angular</h2>
<h2 class="{{multiClass}}">Hello Angular</h2>
<h2 class="{{complexity}}">Hello Angular</h2>
